<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# **My Jupyter Notebook on IBM Watson Studio**

**Avani Makwana**

*i am intrested in data science because i love to play with data and learning new languages like R , python , etc*

### The following code test the gauss formula

In [5]:
def gauss(n):
    return (n*(n+1))/2
gauss(100) == sum(range(101))

True

### NUMBER LIST

1. THIS IS 
2. AVANI
3. MAKWANA HERE
    1. I 
    2. LOVE 
    3. CODING

### HYPERLINK
[HERE IS UTUBE LINK](https://www.youtube.com/)

### TABLE

In [8]:
import pandas as pd
import numpy as np
data = pd.DataFrame([
    {"exposure": "Exposed", "disease": "0 Yes"},
    {"exposure": "Exposed", "disease": "0 Yes"},
    {"exposure": "Exposed", "disease": "0 Yes"},
    {"exposure": "Exposed", "disease": "1 No"},
    {"exposure": "Unexposed", "disease": "1 No"},
    {"exposure": "Unexposed", "disease": "1 No"},
    {"exposure": "Unexposed", "disease": "0 Yes"},
    {"exposure": "Unexposed", "disease": "0 Yes"}
])
data

    exposure disease
0    Exposed   0 Yes
1    Exposed   0 Yes
2    Exposed   0 Yes
3    Exposed    1 No
4  Unexposed    1 No
5  Unexposed    1 No
6  Unexposed   0 Yes
7  Unexposed   0 Yes